@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}
h5{
    border:#c4c4c4 1px solid;
    background-color: #c4c4c4;
    margin: 10px 0px;
    padding:5px;
    border-radius: 5px;
}

.navBar{
  height:80px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px  #c4c4c4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.navBar ul {
  display: inline-block;
}

.navBar ul li{
  display: inline-block;
  margin: 0px 10px;
}

.navbar .klab{
  position: absolute;
  height:50%;

}

.navBar .link:hover{
  border-bottom: 2px solid #ccc;
  transition: 0.5s ease;
}

.container {
  max-width: 500px;
  margin: 100px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: gray;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:active {
  transform: scale(0.98);
}

.task {
  background: #e7e6e6;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task .edit{
  position: absolute;
  right:40px;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: inline-block;
}

.form-control input {
  width: 80%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 40px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

/* register section */
.register{
  margin-top: -40px;
}

.register .container .form{
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.register .container .form label{
  font-size: 15px;
  margin: 10px 15% 5px;
}

.register .container .form input{
  height: 30px;
  width: 70%;
  margin: 0px auto;
}


.register .container .form button{
  margin-top: 30px;
}

/* edit input for todo */
.intodo{
  font-size: 30;
  height:40px;
  width: 330px;
  margin-left: 20px;
}


/* admin section */

.admin{
  font-size: 15px;
  font-weight: 500;
}

.admin h2{
  margin: 20px;
}

.admin li:nth-child(odd){
  background-color: #e7e6e6;
}

.admin .dash{
  display: flex;
  flex-direction: row;
  padding:5px 0px 0px 6px ;
  height: 40px;
}

.dheader{
  width: 100%;
  height: auto;
  padding-left: 10px;
  background: gray;
  

}
.admin .dash h4{
  flex: 1;
}
.editbtn{
  padding-left: 10px;
  font-weight: 30px;
  color:black
}

.logp{
  min-width: 150px;
  background-color: linear-gradient(to top,rbga(0,0,0,0.5)50%,rbga(0,0,0,0.5)50%);
  height: 120px;
  display: flex;
  align-items: center;

}

.blogin{
  padding: 12px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.blogin{
  display: flex;
  justify-content: space-between;

  
}
.blogin a{
  font-size: 18px;
  color:black;
  margin-top: 15px;





}

.blogin a:hover{
  outline: none;
  color: black;
  border-bottom: 0.5px solid black;
  

}
.logInput{
width: 100%;
height: 35px;

}
.logInput:hover{
  outline: none;
}
.bb{
  width: 100%;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  background: black;
  color:white;
  
}
.bb:hover{
/* transform: scale(0.98cm); */
background: transparent;
border: 0.5px solid black;
cursor: pointer;
color:black;
}
.social{
  display: flex;
  gap:20px;
}
.convertResult>button{
  float: left;
  display: flex;
  justify-content: space-between;
  font-size:50px;
  margin-left:20px;
  

}
.lb{
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

.ifacebook,.iWhat,.iInsta{
  color:black;
}
.ifacebook:hover{
  color:blue;
}
.iInsta:hover{
  color:crimson
}
.iWhat:hover{
  color:darkseagreen;
}
.logs{
  max-width: 300px;
  height: 400px;
  border:0.5px solid rgba(0,0,0,0.5);
  box-shadow: 0px 5px 0px;

}
.mb-3{
  display: flex;
  
}


/* for another page */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,100;1,200;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,100;1,200;1,600&display=swap'); */

/* .main{
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100vh;

    
}
.navibar{
    width: 800px;
    height: 70px;
}
.icon{
    width: 80px;
    height: 70px;

}
.icon img{
    width: 100%;
    height: auto;
}
.main .menu{
    width: 400px;
    height:40px;
    position: absolute;
    left: 900px;

}
.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu ul li{
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    margin-top: 2px;



} 
.menu ul li a{
    text-decoration: none;
    padding: 7px;
    color: black;
    text-transform:uppercase;
    font-family: 'Times New Roman', Times, serif;

}
ul li a:focus{
    cursor: pointer;
}
.myName{
    width: 500px;
    height: 100px;
    position: relative;
    margin-left: 100px;


}
.left{
    font-size: 50px;
    font-family: roboto;
    position: absolute;
    top: 150px;
    left: 280px;
}
.personID{
    width: 100%;
    height: 620px;
    padding: 15px;
    position: relative;
    float: left;
}
img.passpt {
    width:100%;
    height:auto;
    
}
.badge{
    margin-left: 40px;
    width: 180px;
    height: 280px;
    border: none;
    box-shadow: 5px 10px 8px rgba(0,0,0,0.4);
}
p.center{
    margin-left: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
} */
.paragraph{
    position: absolute;
    left: 500px;
    top: 70px;
    font-family: serif;
    font-size: 18px;
    padding: 15px;
    width: 500px;
}

.nmtitle{
    margin-bottom: 40px;
    margin-left: 30%;
    font-size: 25px;
    font-family: arial;
    letter-spacing: 5px;
}
.face{
    position: absolute;
    left: 800px;
    width: 600px;
    height: 400px;
    top: 18px;

}
.face img{
    width: 100%;
    object-fit: contain;
    object-fit: 12% 10%;
    height: auto;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
    
}
.desi p,i{
    font-weight: bold;
    font-size: xx-large;
    color: black;

}
.boxi{
    width: 300px;
    height: 200px;
    box-shadow: 8px 5px 8px rgba(0, 0,0,0.5);

}
div.galery {
    font-weight: lighter;
    font-size: 20px;
    margin-left:50%;
    margin-top: 10px;
}
div.galery{
    width: 250px;
    height: 280px;
    border: none;
    margin: 10px;
    float: left;
    border-radius: 5px;
    box-shadow: 8px 10px 7px rgba(0,0,0,0.6);
    justify-content: center;
}
.galery-1{
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin:auto
}
div.galery img{
    width: 100%;
    height: auto;
}
div.galery .desc{
    padding: 12px;
    text-align: center;
    font-size: 15px;
}
@media screen and(max-width:700px), (min-width:500px) and(min-width:700px){
    div.galery img{
        width: 150px;
        height: 180px;

    }
}
#blog-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
    flex-direction: column;

}
.blogcontainer{
    display:flex;
    flex-wrap: wrap;
    padding:20px 0px;
    margin: 20px;
}
#blog-section span{
    text-transform: capitalize;
    font-family: arial;
    letter-spacing: 5px;
    color: black;
    font-size: large;
    
}

.blog-box{
    width:250px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border:1px solid rgba(0,0,0,0.04);
}
.blog-box .blog-img{
    width:100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;

}
.blog-text{
    display: flex;
    flex-direction: column;
    padding:20px;

}
.blog-text p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    color: tomato;
    font-weight: 1.2rem;
    

}
.blog-text a{
    color:blue;
    text-decoration: none;
    padding: 12px;
    font-weight:500;

}
.blog-text a:hover{
    color:black;
    transition:all ease 0.3s;
}
.fillform{
  float: left;
  width: 100%;
  position: relative;
  padding: 50px;
  height: 600px;
  background-color: rosybrown;
   


  
}
.fillform .fom section{
    font-family: 'Poppins', sans-serif;
    font-weight: 20px;
    padding: 12px;
}
.lefon {
    position: absolute;
    width: 400px;
    padding: 50px;

}
.fillform span{
    font-family: arial;
    padding: 20px;
    color: rgba(0,0,0,0.4);


}
 .fom form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 12px;
    width: 450px;
    align-items: center;
    justify-content: center;

}
.maping{
    position: absolute;
   display: flex;
   width: 450px;
   left: 95vh;
   top: 70px;


}
.maping .mapouter iframe{
    width: 100%;
    height: 400px;
}
.fom {
    padding: 20px;
}
.fom .in1{
    color: black;
    border: 1px solid rgba(0,0,0,0.4);
    height: 12px;
    width: 450px;
    margin-top: 10px;
    border-radius: 4px;
    padding: 20px;
    font-size: 20;





}
.fom input[type=text],input[type=email],textarea{
    background-color: gainsboro;
}
.fom span{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 500;
}

    .fom input[type=submit]{
        width: 450px;
        background-color: black;
        color: white;
        cursor: pointer;
        border: none;
        margin-top: 30px;
        height: 30px;




    }
    .fom input[type=submit]:hover{
        background-color:wheat;
        color: black;
        padding: 5px;
        transition: all 0.3s ease-in-out;
    }
.fom .tx{
    width: 450px;
    border-radius: 4px;
    height: 100px;
    margin-top: 20px;


}


.fom input:focus{
    outline:none
}

.foot{
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
}
.foregion{
    width: 100%;
    height: 100px;
    background-color: black;
    padding: 20px;

}
.box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
 .box p{
    color: white;
    font-size: 8px;
    padding: 5px;
    text-transform: uppercase;
}
.box span{
    color: white;
    font-size: 8px;
    padding: 5px;
}
.box .social-{
    padding: 20px;
    display: inline-block;
    
}

.social- a i {
        width: 50px;
        border: 0.3px solid rgba(0,0,0,0.5)50%;
        color: white;
        padding: 10px;
        gap: 20px;
        border-radius: 50%;
        text-align: center;
    }  
